# jekyll
_site
.sass-cache
.jekyll-metadata
Gemfile.lock
Gemfile.*
vendor

# npm
node_modules

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Custom
_config.yml